<ion-header>
  <ion-toolbar>
    <ion-title>Calisthenics Routine Generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Height (cm):</ion-label>
      <ion-input type="number" [(ngModel)]="height"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Weight (kg):</ion-label>
      <ion-input type="number" [(ngModel)]="weight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gender:</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fitness Level</ion-label>
      <ion-select [(ngModel)]="fitnessLevel">
        <ion-select-option value="beginner">Beginner</ion-select-option>
        <ion-select-option value="intermediate">Intermediate</ion-select-option>
        <ion-select-option value="advanced">Advanced</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Goals</ion-label>
      <ion-select [(ngModel)]="goals">
        <ion-select-option value="strength">Strength</ion-select-option>
        <ion-select-option value="endurance">Endurance</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <button ion-button>Generate Routine</button>

  <ion-card *ngIf="routine">
    <ion-card-header>
      <ion-card-title>Calisthenics Routine</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let exercise of routine">
          {{exercise}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="mealPlan">
    <ion-card-header>
      <ion-card-title>Meal Plan</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let meal of mealPlan">
          {{meal}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>